body{
	
	background-color: #eee;
}

header{
	background-color: #555;
}
header h3{

	color: #eee;
}
#result-book{
	overflow: auto;
	height: 380px;
}

#navegador{
	background-color: #555;
	height: 100%;
}
section{
	height: 100%;
}

picture{
	margin-left: 30%;
}
footer{
	 position: absolute;
	 
	 width: 100%;
	 height: auto;
}
.clear{
	clear: both;
}