
#logo{
    height: 10vmin;
    width: 10vmin;
}
/*header{
    height: 15vh;
}
nav{
      height: 5vh;
}
section{
    height: 65vh;
    overflow: auto;
}
footer{
    height: 10vh;
}*/
#success{
    color: #449d44;
}
#Error{
    color: red;
}